.profile-img img{
	width: 140px;
    border-radius: 50%;
    border: 5px solid #ffffff4a;;
    margin: 0 auto;
}
.sidebar{
	background-color: #1f1f1f;
    padding: 20px 0px 20px 0px;
}
.sidebar-cont{
	margin-top: 20px;
}
.link-icon{
	margin-right: 12px;
}
.sidebar-cont>li>a{
	color: #c7c7c7;
	font-weight: bold;
}
.sidebar-cont>li>a.active,.sidebar-cont>li>a:hover{
	font-weight: bold;
    color: white;
    background-color: #2c93d5;
}
.sidebar-cont>li>a:hover{

}
.logout{
	margin-top: 125px;
}
.profilee{
	margin-top: 35px;
}
.editp{
	    border: 0px;
    border-radius: 0px;
    background-color: #2c93d5;
}