.prf-img{
    width: 50px;
}
.prf-date{
    color: #c7c7c7;
}


/* Overlay Effects */
.course-container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2632387e;
}

.course-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



/* Continuation */
.hover-cap{
    font-size: 42px;
}
.req-info{
    margin-top: 15px;
}
.req-img{
    width: 52px;
}

