#spr1_18ed040 {clip:rect(0px,960px,540px,0px);}#spr3_18ed040 {width:52.762px; height:55.412px; overflow:hidden;}#spr5_18ed040 {width:202.5px; height:228px; display:none; overflow:hidden;}#spr8_18ed040 {width:340.617px; height:342.625px; display:none; overflow:hidden;}