#spr1_18f196f {clip:rect(0px,960px,540px,0px);}#spr3_18f196f {width:52.762px; height:55.412px; overflow:hidden;}#spr7_18f196f,#spr8_18f196f,#spr9_18f196f {display:none;}#txt0_18f196f,#txt1_18f196f,#txt2_18f196f {font-family:fnt7; font-size:72px; line-height:104px; font-weight:bold; color:#000000;}