#spr1_18fafe2 {clip:rect(0px,960px,540px,0px);}#spr3_18fafe2 {width:52.762px; height:55.412px; overflow:hidden;}#txt0_18fafe2,#txt1_18fafe2 {font-family:fnt6; font-size:26px; line-height:37px; color:#ffffff;}#spr8_18fafe2 {width:466.854px; height:388.267px; overflow:hidden;}