*{
  font-family: 'Nunito Sans', sans-serif;
}
body.body-bg{
  /*background-image:url(../../ft/img/s1.jpg);*/
  background-image:url(../../ft/img/s1.png);
  background-size:cover;
  background-repeat:no-repeat;
}

div.bg-overlay{
  background-color:rgba(4,3,3,0.58);
  min-height:100vh;
}

nav.navbar.navbar-default.nav-trans{
  background-color:red;
}

nav.navbar.navbar-default{
}

div.container.move-down{
  margin-top:160px;
}

p.white-desc{
  color:white;
  font-size:20px;
}

div.footer-custom{
  padding-top:17px;
  background-color:black;
  color:white;
  position:fixed;
  width:100%;
  bottom:0;
}

i#ad-right.glyphicon.glyphicon-envelope{
  margin-right:8px;
}

a.white{
  color:white;
}

a.socio-link{
  color:white;
  margin-right:6px;
}

p.links-icon{
  font-size:22px;
}

.navbar-toggle .icon-bar{
  background-color: white;
}
.container>.navbar-header{
  margin-bottom: 50px;
}
.white{
  color: white;
}
.navbar-nav>li>a.link-hover:hover,.navbar-nav>li>a.link-hover:focus,.navbar-nav>li>a.link-hover:active{
  background-color: transparent;
}
.nav .open>a.link-hover{
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.login-dropdown{
    padding: 22px;
}
.dropdown-menu-cus{
  min-width: 284px;
}
.form-links{
  color: #223e70;
}
.btn-blue{
  background-color: #223e70;
  color: white;
}
.btn-blue:hover{
  color: white;
}